/* CSS Document for module2-solution.html*/
 h1{
   text-align: center;
   margin-top: 20px;
   }
   
   .corner1{
   font-size: x-large;
   color: black;
   border: 1px  solid black;
   float: right;
   padding-right:5px;
   margin-right: 5px;
   align:right;
   width:120px;
   color:white;"
   }
   
 
   #column-left {
   margin-top: 35px;
	width: 30%;
	float: left;
	background: #cccccc;
  height: 180px;
  margin-right: 20px;
  margin-left: 21px;
}
 
#column-center {
 margin-top: 35px;
	width: 30%;
	float: left;
	background: #ccffff;
   height: 180px;
   margin-right: 9px;
   margin-left: 14px;
}
 
#column-right {
 margin-top: 35px;
	width: 30%;
	float: left;
	background: #FFCCCC;
   height:180px;
   color: black;
   margin-right: 0;
   margin-left: 25px;
}
 @media screen and (min-width : 992px) and (max-width :){
}
@media screen and (min-width : 768px) and (max-width : 991px){
#column-left{width:45.5%; }
#column-center{width:45%;}
#column-right{width:94.5%;}   
}
@media screen and (min-width : 0px) and (max-width : 767px){
#column-left{width:95%;height: 80px;margin-left: 15px; }
#column-center{width:95%;height: 80px;}
#column-right{width:95%; height: 80px;margin-left: 15px;} 
}
